.carwash_form {
    display: block;
    width: 100%;
}

.carwash_form label {
    display: block;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

.carwash_form input,
.carwash_form select,
.carwash_form textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.package_meta .btn-grp {
    text-align: right;
}

.package_meta .remove {
    margin-top: -15px;
}

.wp-image {
    width: 100px;
}

.text-danger {
    color: #dc3545;
}

.text-primary {
    color: #0d6efd;
}

.text-success {
    color: #198754;
}

.text-center {
    text-align: center;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}

.card {
    margin: 5px 10px;
    box-sizing: border-box;
}

.carwash_dashboard .card-title {
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 0;
}

.carwash_dashboard .card-text {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 25px;
}